.card{
    padding: 10px  ;
    margin: 0px 16px 16px 16px;
}
.confirm>button{
    background: black;
    color: #fff;
    margin-left: -25px;
    margin-top: 10px;
}
.confirm>button:hover{
    background: #2e2e2e;
}
.confirm>input{
    margin-left: -28px;
    position: relative;
    overflow: hidden;
    padding: 6px 70px 42px;
    position: relative;
}
.confirm{
    margin: 0px 16px 16px 16px;

}
.confirm input{
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
}